<img src="assets/img/SESLab.png" class="img-responsive img-seslab">
<img src="assets/img/TEC.png"  class="img-responsive img-tec">
<div class="row" id="loginDiv">
  <div class="container">
    <div class="row centered">
      <br><br>
      <h3>Sistema de inscripción de los módulos prácticos</h3>
      <br><br>
    </div>
    <br><br>
    <div class="row centered"> 
      <div class="row centered col-md-4">
      </div>
      <div class="row centered col-md-4 jumbotron"> 
        <label> Correo </label>
        </br>
        <input type="text" id="email" value="" maxlength="30">
        </br>
        </br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="login_button">
          Acceder
        </button>
        <!-- Accent-colored raised button with ripple -->
        </br>
        <label id="modalerrorFound" class= "hidden alert alert-warning errorMsg3">El Correo es Inválido</label> 
      </div>
      <div class="row centered col-md-4">
      </div>
    </div>
  </div>
</div>