<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <a href="#home" class="navbar-brand">Administrar Curso - Inicio</a>
  </div>
</div><!-- /.container -->

<div class="container">
	<div class="row centered">
		<h2>Módulo Administrador</h2>
	</div><!-- row -->
	<div class="contentDiv row">
		<div class="col-sm-6">
			<div class="divMod" id="mod1">
				<label style="text-align:center;width:100%;">Módulo de Administración de Horarios</label>
			    <ul>
		          <li role="presentation"><a href="#schedule">Horarios</a></li>
		          <li role="presentation"><a href="#signed">Inscritos</a></li>
			    </ul>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="divMod" id="mod2">
				<label style="text-align:center;width:100%;">Módulo de Administración de Usuarios</label>
			    <ul>
		          <li role="presentation"><a href="#users">Usuarios</a></li>
			    </ul>
			</div>
		</div>
	</div>
</div>